<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('../../Layouts/Frontend/Header.ejs')%>
   <body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start header-section -->
        <%- include('../../Layouts/Frontend/Navbar.ejs')%>

        <!-- start page-title -->
        <section
            class="bg-[url(../images/page-title.jpg)] bg-center bg-cover bg-no-repeat w-full h-[480px] text-center relative z-[1] flex justify-center flex-col md:h-[400px] before:w-full before:h-full before:absolute before:left-0 before:top-0 before:bg-[#14212b] before:opacity-[0.5] before:-[-1]">
            <div class="overflow-hidden relative w-full h-full">
                <div class="wraper">
                    <div class="flex items-center justify-center h-[480px] md:h-[400px]">
                        <div class="col-span-12">
                            <h2
                                class="text-[60px] text-white mb-[40px] sm:mb-[25px] font-bold capitalize md:text-[50px] mt-[145px] md:mt-[140px] col:mt-[180px] sm:text-[40px]">
                                About Us</h2>
                            <ol class="flex justify-center">
                                <li class="text-[16px] text-white mr-[5px] sm:text-[14px]">
                                    <a href="/"
                                        class="text-white transition-all duration-300 hover:text-[#e33200]">Home</a>
                                </li>
                                <li class="relative text-[16px] text-white sm:text-[14px] pl-[20px] ml-[6px]
                                    before:mr-[5px] before:w-[8px] before:h-[4px] before:bg-white before:absolute
                                    before:left-0 before:top-1/2 before:-translate-y-1/2 before:rounded-[2px]">
                                    About Us</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInDown absolute right-[-70px] top-[-70px] w-[300px] h-[300px] bg-[#ff4a17] rounded-[50%] -z[-1]  col:hidden "
                    data-wow-duration="0.9s" data-wow-delay=".3s"></div>
                <div class="wow fadeInDown absolute left-0 top-0  sm:left-[-100px] sm:top-[-100px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-1.png" alt="">
                </div>
                <div class="wow fadeInUp absolute right-0 bottom-0  sm:right-[-100px] sm:bottom-[-30px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-2.png" alt="">
                </div>
            </div>
        </section>

        <!-- start mission-vission-section -->
        <section class="section-wrap">
            <div class="wraper">
                <div class="grid grid-cols-12 gap-4">
                    <div class="col-span-6 md:col-span-12 col:col-span-12">
                        <div class="p-[50px] bg-[#14212b] relative z-[1] rounded-[10px] overflow-hidden col:p-[20px]">
                            <div>
                                <h2 class="text-[#ff4a17] text-[34px] mb-[20px] font-semibold">Our Mission</h2>
                                <p class="text-[#cbcbcb] text-[15px] mb-[20px]">
                                    <%= about.Mission %>
                                </p>
                                <h5 class="text-white text-[18px] leading-[27px] font-semibold">
                                    <%= about.Mission %>
                                </h5>
                            </div>

                            <div class="absolute left-[-70px] bottom-[-70px] w-[200px] h-[200px] bg-[#ff4a17] rounded-[50%] 
                            z-[-1]"></div>
                            <div class="absolute right-0 top-0"><img src="assets/images/mission-shape.png" alt=""></div>
                        </div>
                    </div>
                    <div class="col-span-6 md:col-span-12 col:col-span-12">
                        <div class="p-[50px] bg-[#f5f5f5] relative z-[1] rounded-[10px] overflow-hidden col:p-[20px]">
                            <div class="wpo-vission-text">
                                <h2 class="text-[#ff4a17] text-[34px] mb-[20px] font-semibold">Our Vission</h2>
                                <h5 class="text-[#14212b] text-[18px] leading-[27px] font-semibold mb-[20px]">
                                    <%= about.Vission %>
                                </h5>
                                <p class="text-[#61616] text-[15px]">
                                    <%= about.Vission %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- start  about -->
        <section class="relative z-[1] pb-[120px] md:pb-[90px] sm:pn-[80px]">
            <div class="wraper">
                <div class="grid grid-cols-12 items-center justify-center">
                    <div class="col-span-6 md:col-span-12">
                        <div class="max-w-[500px] mr-[30px] md:mb-[70px] sm:mr-0">
                            <h4 class="text-[21px] text-[#ff4a17] font-base-font font-semibold">
                                <%= about.WelcomeText %>
                            </h4>
                            <h2
                                class="text-[45px] text-[#0a272c] leading-[65px] font-heading-font font-bold mt-[30px] mb-[20px] xl:text-[40px] xl:leading-[50px] col:text-[25px] col:leading-[30px]">
                                <%= about.Headline %>
                            </h2>
                            <p class="text-[#687693] text-[18px] mb-[25px]">
                                <%= about.Description %>
                            </p>
                            <a class="theme-btn" href="/Services">Our Services</a>
                        </div>
                    </div>
                    <div class="col-span-6 md:col-span-12">
                        <div class="text-center m-[0px_auto]">
                            <img src="Uploads/<%= about.BannerImage %>" alt="" class="text-center m-[0px_auto]">
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute z-[-1] right-[-150px] bottom-[-180px] w-[330px] h-[330px] bg-[#ff4a17] rounded-[40px] rotate-[20deg] sm:right-[-50px] sm:bottom-[-80px] sm:w-[200px] sm:h-[200px] col:right-[-50px] col:bottom-[-80px] col:w-[160px] col:h-[200px]
                 before:absolute before:left-[-30px] before:top-[30px] before:w-full before:h-full
                 before:border-[1px] before:border-[#14212b] before:rounded-[40px]">
            </div>
        </section>

        <!-- start skill -->
        <section class="section-wrap bg-[#14212b]">
            <div class="wraper">
                <div class="grid grid-cols-12 items-center ">
                    <div class="col-span-5 md:col-span-12 ">
                        <div class="md:mb-[30px]">
                            <h5 class="text-[21px] text-[#ff4a17] font-heading-font font-semibold sm:text-[18px]">
                                Our
                                Professional
                                Skill’s</h5>
                            <h2 class="text-[60px] leading-[70px] mb-[30px] mt-[15px] text-white font-heading-font font-semibold
                            xl:text-[50px] xl:leading-[60px] xl:mb-[20px] xl:mt-[10px] lg:text-[45px] lg:leading-[50px]
                            sm:text-[35px] sm:leading-[50px]">
                                Professional Skill <span class="text-[#ff4a17]">Ratings.</span></h2>
                        </div>
                    </div>
                    <div class="col-span-7 md:col-span-12">
                        <div class="ml-[70px] xl:ml-[50px] lg:ml-[30px] md:ml-0 ">
                            <div class="mb-[30px] relative">
                                <h5
                                    class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-white font-semibold">
                                    Sofware Development</h5>
                                <div class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                    <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 95%"
                                        data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="90">
                                    </div>
                                </div>
                                <span
                                    class="absolute right-0 top-[-10px] text-[22px] font-heading-font 
                                    text-white font-bold sm:text-[18px] sm:top-0">95%</span>
                            </div>
                            <div class="mb-[30px] relative">
                                <h5
                                    class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-white font-semibold">
                                    Web design & Development</h5>
                                <div class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                    <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 90%"
                                        data-wow-duration="0.7s" data-wow-delay=".3s" role="progressbar"
                                        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <span
                                    class="absolute right-0 top-[-10px] text-[22px] 
                                    font-heading-font text-white font-bold sm:text-[18px] sm:top-0">90%</span>
                            </div>
                            <div class="relative">
                                <h5
                                    class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-white font-semibold">
                                    Computer Sales </h5>
                                <div class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                    <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 90%"
                                        data-wow-duration="0.9s" data-wow-delay=".3s" role="progressbar"
                                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <span
                                    class="absolute right-0 top-[-10px] text-[22px] font-heading-font
                                     text-white font-bold sm:text-[18px] sm:top-0">90%</span>
                            </div>
                            <div class="relative">
                                <h5
                                    class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-white font-semibold">
                                    Computer Repair </h5>
                                <div class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                    <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 95%"
                                        data-wow-duration="0.9s" data-wow-delay=".3s" role="progressbar"
                                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <span
                                    class="absolute right-0 top-[-10px] text-[22px] 
                                    font-heading-font text-white font-bold sm:text-[18px] sm:top-0">95%</span>
                            </div>
                            <div class="relative">
                                <h5
                                    class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-white font-semibold">
                                    Computer Network </h5>
                                <div class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                    <div class="wow fadeInLeft h-[4px]  bg-[#ff4a17]" style="width: 100%"
                                        data-wow-duration="0.9s" data-wow-delay=".3s" role="progressbar"
                                        aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                    </div>
                                </div>
                                <span
                                    class="absolute right-0 top-[-10px] text-[22px] font-heading-font
                                     text-white font-bold sm:text-[18px] sm:top-0">100%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute left-[60px] bottom-0 -z-[1]">
                <img src="assets/images/progress-shape-1.png" alt="">
            </div>
            <div class="absolute right-[60px] top-[20px] z-[-1]">
                <img src="assets/images/progress-shape-2.png" alt="">
            </div>
        </section>
        <!-- start testimonial -->
        <section class="pt-[120px] md:pt-[90px] sm:pt-[80px]">
            <div class="wraper">
                <div class="mb-[75px] sm:mb-[40px] text-center">
                    <span class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] 
                     font-base-font">CLIENT TESTIMONIAL</span>
                    <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
                     mt-[10px] relative capitalize font-heading-font font-bold
                     text-[#14212b]">Best Word Our Clients</h2>
                </div>
                <div class="wpo-testimonial-slide-s3 owl-carousel mb-[80px] pb-[50px]">
                    <div class="p-[40px_25px] bg-white transition-all duration-300
                         shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                        <div class="relative z-[1]">
                            <h2
                                class="text-[23px] mb-[20px] text-[#0a272c] font-heading-font font-semibold leading-[34px]">
                                Love the design, and it's
                                very flexible to
                                edit and design.</h2>
                            <p class="text-[#687693] text-[16px] ">Lorem Ipsum is simply dummy text printing and
                                typesetting industry
                                has text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled make
                                survived not
                                only five centuries.</p>
                            <div class="flex items-center justify-start mt-[20px]">
                                <div class="w-[50px] h-[50px] rounded-[50%]">
                                    <img src="assets/images/testimonial/img-1.jpg" alt=""
                                        class="rounded-[50%] w-[50px] h-[50px]">
                                </div>
                                <div class="ml-[20px]">

                                    <h3 class="text-[20px] text-[#0a272c] font-heading-font font-semibold">Cathi
                                        Falcon
                                    </h3>
                                    <span class="text-[#ff4a17]">Founder</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-[40px_25px] bg-white transition-all duration-300
                         shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                        <div class="relative z-[1]">
                            <h2
                                class="text-[23px] mb-[20px] text-[#0a272c] font-heading-font font-semibold leading-[34px]">
                                Love the design, and it's
                                very flexible to
                                edit and design.</h2>
                            <p class="text-[#687693] text-[16px] ">Lorem Ipsum is simply dummy text printing and
                                typesetting industry
                                has text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled make
                                survived not
                                only five centuries.</p>
                            <div class="flex items-center justify-start mt-[20px]">
                                <div class="w-[50px] h-[50px] rounded-[50%]">
                                    <img src="assets/images/testimonial/img-2.jpg" alt=""
                                        class="rounded-[50%] w-[50px] h-[50px]">
                                </div>
                                <div class="ml-[20px]">

                                    <h3 class="text-[20px] text-[#0a272c] font-heading-font font-semibold">Harry
                                        Abraham
                                    </h3>
                                    <span class="text-[#ff4a17]">SCG First Company</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-[40px_25px] bg-white transition-all duration-300
                         shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                        <div class="relative z-[1]">
                            <h2
                                class="text-[23px] mb-[20px] text-[#0a272c] font-heading-font font-semibold leading-[34px]">
                                Love the design, and it's
                                very flexible to
                                edit and design.</h2>
                            <p class="text-[#687693] text-[16px] ">Lorem Ipsum is simply dummy text printing and
                                typesetting industry
                                has text ever since
                                the 1500s, when an unknown printer took a galley of type and scrambled make
                                survived not
                                only five centuries.</p>
                            <div class="flex items-center justify-start mt-[20px]">
                                <div class="w-[50px] h-[50px] rounded-[50%]">
                                    <img src="assets/images/testimonial/img-3.jpg" alt=""
                                        class="rounded-[50%] w-[50px] h-[50px]">
                                </div>
                                <div class="ml-[20px]">

                                    <h3 class="text-[20px] text-[#0a272c] font-heading-font font-semibold">
                                        Benjir Walton
                                    </h3>
                                    <span class="text-[#ff4a17]">Merketer</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- start fun-fact -->
        <section class="section-wrap text-center relative z-[1] overflow-hidden">
            <div class="wraper">
                <div class="grid grid-cols-12 gap-x-4">
                    <div class="col-span-3 md:col-span-6 col:col-span-12">
                        <div
                            class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                            <h3
                                class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                <span class="odometer" data-count="8,567">00</span>
                            </h3>
                            <p
                                class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                Completed Cases</p>
                        </div>
                    </div>
                    <div class="col-span-3 md:col-span-6 col:col-span-12">
                        <div
                            class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                            <h3
                                class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                <span class="odometer" data-count="357">00</span>+
                            </h3>
                            <p
                                class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                Happy Clients</p>
                        </div>
                    </div>
                    <div class="col-span-3 md:col-span-6 col:col-span-12">
                        <div
                            class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                            <h3
                                class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                <span class="odometer" data-count="28">00</span>+
                            </h3>
                            <p
                                class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                Our Office</p>
                        </div>
                    </div>
                    <div class="col-span-3 md:col-span-6 col:col-span-12">
                        <div
                            class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                            <h3
                                class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                <span class="odometer" data-count="785">00</span>
                            </h3>
                            <p
                                class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                Skilled People</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- start footer -->
        <%- include('../../Layouts/Frontend/Footer.ejs')%>
    </div>
    <!-- end of page-wrapper -->
    <%- include('../../Layouts/Frontend/Scripts.ejs')%>  
</body>

</html>