<!doctype html>
<html class="no-js" lang="zxx">
<%- include('../../Layouts/Frontend/Header.ejs')%>

    <body>

        <!-- start page-wrapper -->
        <div class="page-wrapper">
            <!-- start header-section -->
            <%- include('../../Layouts/Frontend/Navbar.ejs')%>
                <!-- start hero -->
                <section class="bg-[url(../images/slider/slide-6.jpg)] bg-no-repeat bg-center w-full h-[930px] 
         xl:h-[750px] lg:h-[600px]  md:h-[900px] sm:h-[850px] col:h-[700px] relative z-[1] overflow-hidden 
             flex flex-col justify-center text-left md:text-center
             ">
                    <div>
                        <div class="wraper">
                            <div class="relative pt-[90px] md:pt-[250px]">
                                <div>
                                    <h5 class="text-[19px] lg:text-[16px] md:mt-[20px] text-[#ff4a17] font-base-font uppercase
                                font-normal tracking-[2px] mb-[30px]">
                                        Trusted Business Partner.</h5>
                                </div>
                                <div class="max-w-[712px] lg:max-w-[550px] md:max-w-full">
                                    <h2 class="text-[68px] xl:text-[60px] lg:text-[50px] md:text-[45px] sm:text-[35px] col:text-[32px]
                            leading-[90px] lg:leading-[60px] md:leading-[55px] sm:leading-[45px]
                            col:leading-[42px]
                             text-white font-heading-font font-semibold mb-[30px]">Provide Financial Solution Service.
                                    </h2>
                                </div>
                                <div>
                                    <p
                                        class="text-[23px] lg:text-[18px] md:mb-[30px] text-white font-base-font  font-normal  mb-[40px]">
                                        It was popularised in the 1960s with the release sheets.</p>
                                </div>
                                <div class="btns">
                                    <a href="#" class="theme-btn">Explore More <i class="fi "></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wow fadeInRightSlow absolute
            bottom-0 right-[200px] xl:w-[520px] xl:right-[100px] lg:w-[450px] lg:right-[70px] md:relative md:top-[1-0%] md:m-[0_auto] md:mt-[30px] md:right-0 col:w-[300px]"
                        data-wow-duration="2000ms">
                        <img src="assets/images/slider/2.png" alt="">
                    </div>
                    <div class="absolute left-[-30px] top-[-30px] z-[-1] lg:left-[-100px] lg:top-[-100px] sm:hidden">
                        <img src="assets/images/slider/shape-4.png" alt="">
                    </div>
                    <div class="absolute right-0 bottom-0 z-[-1] xl:right-[-40px] xl:bottom-[-30px] sm:hidden">
                        <img src="assets/images/slider/shape-5.png" alt="">
                    </div>
                </section>
                <!-- start  service -->
                <section class="section-wrap overflow-hidden relative ">
                    <div class="wraper">
                        <div class="mb-[75px] sm:mb-[40px] text-center">
                            <span class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] 
                     font-base-font">Our Services</span>
                            <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
                     mt-[10px] relative capitalize font-heading-font font-bold
                     text-[#14212b]">Check Our Solutions</h2>
                        </div>
                        <div class="wpo-service-slider-two owl-carousel">
                            <% if(services.length<=0){ %>
                                <div class="alert alert-danger">
                                    <strong>
                                        Kindly check later for available services
                                    </strong>
                                </div>
                                <%}else{ %>
                                    <% services.forEach((service)=>{ %>
                                        <div
                                            class="p-[50px] col:p-[30px_25px] shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                                            <div class="text-center">
                                                <div
                                                    class="w-[120px] h-[120px] leading-[120px]  text-center mx-auto mb-[30px] text-[50px] rounded-[50%]">
                                                    <img class="h-[120px]" src="Uploads/<%= service.Photo %>" alt=""
                                                        style="border-radius: 160px;">
                                                </div>
                                                <h2
                                                    class="text-[#ff4a17] underline text-[30px] font-bold mb-[20px] xl:text-[25px] col:text-[25px]">
                                                    <%= service.Title %> for KES.<%= (service.Pay).toLocaleString("en")
                                                            %>
                                                </h2>
                                                <p class="text-left text-[#6e6e6e]">
                                                    <%= `${(service.Headline).substr(0,150)} ...` %>
                                                </p>
                                                <a href="/Book-A-Service?serviceID=<%=service._id %>" class="inline-block transition-all duration-300 p-[10px_35px] pr-[45px] text-[#ff4a17] border-[1px] border-[#ff4a17]
                                        relative rounded-[6px] mt-[20px] uppercase before:absolute before:right-[20px]
                                        before:top-[51%] before:content-['\f103'] before:font-['Flaticon']
                                        before:-translate-y-1/2 hover:bg-[#ff4a17] hover:text-white">Book</a>
                                            </div>
                                        </div>
                                        <% }) %>
                                            <% } %>
                        </div>
                    </div>
                </section>

                <!-- start  about -->
                <section class="bg-[#14212b] relative overflow-hidden z-[1] py-[220px] xl:py-[120px] md:pb-[80px]">
                    <div class="wraper">
                        <div class="grid grid-cols-12">
                            <div class="col-span-6 md:col-span-12">
                                <div class="relative ml-[-75px] xl:ml-0 lg:top-[50px] md:top-0 md:left-[50px] col:left-[30px]
                        before:absolute before:left-[45px] before:top-0 before:w-[500px] before:h-[500px]
                        before:border-[1px]
                        before:border-[#ff4a17] before:rounded-[40px] before:z-[1] before:rotate-[40deg]
                        before:lg:w-[360px] before:lg:h-[400px] before:col:w-[220px] before:col:h-[220px]
                        before:col:left-[20px] group">
                                    <div
                                        class="w-[500px] h-[500px] overflow-hidden relative rotate-[40deg] rounded-[40px]  lg:w-[360px] lg:h-[360px] md:mb-[50px] col:w-[220px] col:h-[220px]">
                                        <div class="absolute left-[-28%] top-[-36%] w-[202%] h-[141%] rotate-[324deg]">
                                            <img src="Uploads/<%= about.BannerImage %>" alt="" class="text-center m-[0px_auto] transition-all duration-300
                                        group-hover:scale-[1.2]">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-span-6 md:col-span-12">
                                <div class="mx-w-[600px] xl:pl-[40px] md:pl-0 md:pt-[70px] col:pt-[30px]">
                                    <h4
                                        class="text-[21px] text-[#ff4a17] font-base-font lg:text-[18px] col:text-[14px]">
                                        <%= about.WelcomeText %>
                                    </h4>
                                    <h2
                                        class="text-[60px] text-white font-heading-font font-normal leading-[70px] my-[30px] xl:text-[55px] 
                             lg:text-[36px] lg:leading-[50px] lg:my-[20px] col:text-[26px] col:leading-[36px] col:my-[15px]">
                                        <%= about.Headline %>
                                    </h2>
                                    <p
                                        class="text-[18px] mb-[35px] text-[#dddfe1] font-base-font col:text-[16px] col:mb-[20px]">
                                        <%= about.Description %>
                                    </p>
                                    <a class="theme-btn" href="/Services">Our Services</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute left-[-36px] bottom-[-15%] z-[-1] md:opacity-[0.2]"><img
                            src="assets/images/about/shape-1.png" alt=""></div>
                    <div class="absolute right-0 top-0 z-[-1]"><img src="assets/images/about/shape-2.png" alt=""></div>
                </section>

                <!-- start skill -->
                <section class="pt-[120px] md:pt-[90px] sm:pt-[80px]">
                    <div class="wraper">
                        <div class="grid grid-cols-12 items-center ">
                            <div class="col-span-5 md:col-span-12 ">
                                <div class="md:mb-[30px]">
                                    <h5
                                        class="text-[21px] text-[#ff4a17] font-heading-font font-semibold sm:text-[18px]">
                                        Our
                                        Professional
                                        Skill’s</h5>
                                    <h2 class="text-[60px] leading-[70px] mb-[30px] mt-[15px] text-[#0a272c] font-heading-font font-semibold
                            xl:text-[50px] xl:leading-[60px] xl:mb-[20px] xl:mt-[10px] lg:text-[45px] lg:leading-[50px]
                            sm:text-[35px] sm:leading-[50px]">
                                        Professional Skill of <span class="text-[#ff4a17]">Consoel.</span></h2>
                                    <p class="text-[#687693] text-[16px] leading-[25px]">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt
                                        ut labore et dolore <br> <br> magna aliqua. Ut enim ad minim veniam, quis
                                        nostrud
                                        exercitation
                                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                </div>
                            </div>
                            <div class="col-span-7 md:col-span-12">
                                <div
                                    class="ml-[70px] xl:ml-[50px] lg:ml-[30px] md:ml-0 p-[80px_70px] shadow-[0px_0px_35px_0px_rgba(20,33,43,0.1)] xl:p-[60px_50px] lg:p-[40px_30px]">
                                    <div class="mb-[30px] relative">
                                        <h5
                                            class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-[#0a272c] font-semibold">
                                            Financial Investment</h5>
                                        <div
                                            class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                            <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 75%"
                                                data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="90">
                                            </div>
                                        </div>
                                        <span
                                            class="absolute right-0 top-[-10px] text-[22px] font-heading-font text-[#14212b] font-bold sm:text-[18px] sm:top-0">75%</span>
                                    </div>
                                    <div class="mb-[30px] relative">
                                        <h5
                                            class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-[#0a272c] font-semibold">
                                            Business Analysis</h5>
                                        <div
                                            class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                            <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 80%"
                                                data-wow-duration="0.7s" data-wow-delay=".3s" role="progressbar"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span
                                            class="absolute right-0 top-[-10px] text-[22px] font-heading-font text-[#14212b] font-bold sm:text-[18px] sm:top-0">80%</span>
                                    </div>
                                    <div class="mb-[30px] relative">
                                        <h5
                                            class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-[#0a272c] font-semibold">
                                            Tax Management</h5>
                                        <div
                                            class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                            <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 85%"
                                                data-wow-duration="0.9s" data-wow-delay=".3s" role="progressbar"
                                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span
                                            class="absolute right-0 top-[-10px] text-[22px] font-heading-font text-[#14212b] font-bold sm:text-[18px] sm:top-0">85%</span>
                                    </div>
                                    <div class="relative">
                                        <h5
                                            class="text-[22px] sm:text-[18px] mb-[10px] font-heading-font text-[#0a272c] font-semibold">
                                            Financial Advices</h5>
                                        <div
                                            class="h-[6px] w-full bg-[#f3f4f4] relative rounded-[10px] overflow-hidden">
                                            <div class="wow fadeInLeft h-[6px]  bg-[#ff4a17]" style="width: 95%"
                                                data-wow-duration="1.1s" data-wow-delay=".3s" role="progressbar"
                                                aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                        </div>
                                        <span
                                            class="absolute right-0 top-[-10px] text-[22px] font-heading-font text-[#14212b] font-bold sm:text-[18px] sm:top-0">95%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- start fun-fact -->
                <section class="section-wrap text-center relative z-[1] overflow-hidden">
                    <div class="wraper">
                        <div class="grid grid-cols-12 gap-x-4">
                            <div class="col-span-3 md:col-span-6 col:col-span-12">
                                <div
                                    class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                                    <h3
                                        class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                        <span class="odometer" data-count="8,567">00</span>
                                    </h3>
                                    <p
                                        class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                        Completed Cases</p>
                                </div>
                            </div>
                            <div class="col-span-3 md:col-span-6 col:col-span-12">
                                <div
                                    class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                                    <h3
                                        class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                        <span class="odometer" data-count="357">00</span>+
                                    </h3>
                                    <p
                                        class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                        Happy Clients</p>
                                </div>
                            </div>
                            <div class="col-span-3 md:col-span-6 col:col-span-12">
                                <div
                                    class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                                    <h3
                                        class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                        <span class="odometer" data-count="28">00</span>+
                                    </h3>
                                    <p
                                        class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                        Our Office</p>
                                </div>
                            </div>
                            <div class="col-span-3 md:col-span-6 col:col-span-12">
                                <div
                                    class="md:mb-[50px] relative after:absolute after:right-0 after:top-[50%] after:w-[10px] after:h-[10px] after:rounded-[50%] after:bg-[#ff4a17] sm:after:hidden">
                                    <h3
                                        class="text-[65px] font-heading-font font-bold text-[#14212b] flex items-center justify-center lg:text-[50px] md:text-[40px]  sm:text-[35px]">
                                        <span class="odometer" data-count="785">00</span>
                                    </h3>
                                    <p
                                        class="text-[15px] font-base-font text-[#ff4a17] tracking-[3px] md:text-[14px] col:tracking-[0px]">
                                        Skilled People</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- start team -->
                <section
                    class="pt-[120px] pb-[90px] md:pt-[90px] md:pb-[60px] sm:pt-[80px] sm:pb-[50px] bg-[#f5f5f5] overflow-hidden relative">
                    <div class="wraper">
                        <div class="mb-[75px] sm:mb-[40px] text-center">
                            <span
                                class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] font-base-font">TEAM
                                MEMBERS</span>
                            <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
                     mt-[10px] relative capitalize font-heading-font font-bold
                     text-[#14212b]">We Have Skilled People</h2>
                        </div>
                        <div class="relative z-[1]">
                            <div class="grid grid-cols-12 gap-x-3">
                                <div class="col-span-4 md:col-span-6 col:col-span-12">
                                    <div class="group text-center p-[30px] bg-[#e9eaeb] relative rounded-[50%] 
                            transition-all max-w-[350px] duration-300
                                mx-auto mb-[30px] hover:bg-[rgba(255,74,23,0.2)]">
                                        <div
                                            class="overflow-hidden rounded-[50%] border-[1px] border-[#fff] relative text-center">
                                            <img class="w-full rounded-[50%] scale-[1] transition-all duration-300 group-hover:scale-[1.2]"
                                                src="assets/images/team/1.jpg" alt="">
                                            <div class="absolute left-0 top-0 w-full h-full flex justify-center 
                                       flex-col rounded-[50%] transition-all duration-300  pt-[15px] translate-y-[100%]
                                        bg-[rgba(255,74,23,0.8)] group-hover:translate-y-[0]">
                                                <span
                                                    class="uppercase text-[16px] font-base-font font-bold tracking-[3px] text-[#14212b] ">FOUNDER</span>
                                                <h2 class=" text-[32px] font-heading-font font-semibold mt-[10px] text-white
                                            lg:text-[25px]">Harry
                                                    Abraham</h2>
                                                <a href="team-single.html"
                                                    class="inline-block w-[50px] h-[50px] leading-[50px]
                                             border-[1px] border-[#fff] mt-[20px] rounded-[50%] relative overflow-hidden
                                             after:absolute after:left-0 after:top-0 after:w-full after:h-full
                                             after:bg-[rgba(255,255,255,0.5)] after:-translate-x-full mx-auto
                                             hover:after:translate-x-full after:transition-all after:duration-300 after:ease-in-out">
                                                    <i class="ti-plus text-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 md:col-span-6 col:col-span-12">
                                    <div class="group text-center p-[30px] bg-[#e9eaeb] relative rounded-[50%] 
                            transition-all duration-300 max-w-[350px]
                                mx-auto mb-[30px] hover:bg-[rgba(255,74,23,0.2)]">
                                        <div
                                            class="overflow-hidden rounded-[50%] border-[1px] border-[#fff] relative text-center">
                                            <img class="w-full rounded-[50%] scale-[1] transition-all duration-300 group-hover:scale-[1.2]"
                                                src="assets/images/team/2.jpg" alt="">
                                            <div class="absolute left-0 top-0 w-full h-full flex justify-center 
                                       flex-col rounded-[50%] transition-all duration-200  pt-[15px] translate-y-[100%]
                                        bg-[rgba(255,74,23,0.8)] group-hover:translate-y-[0]">
                                                <span class="uppercase text-[16px] font-base-font font-bold tracking-[3px]
                                            text-[#14212b]">ADMIN</span>
                                                <h2 class=" text-[32px] font-heading-font font-semibold mt-[10px] text-white
                                            lg:text-[25px]">Robert Johnson</h2>
                                                <a href="team-single.html"
                                                    class="inline-block w-[50px] h-[50px] leading-[50px]
                                             border-[1px] border-[#fff] mt-[20px] rounded-[50%] relative overflow-hidden
                                             after:absolute after:left-0 after:top-0 after:w-full after:h-full
                                             after:bg-[rgba(255,255,255,0.5)] after:-translate-x-full mx-auto
                                             hover:after:translate-x-full after:transition-all after:duration-200 after:ease-in-out">
                                                    <i class="ti-plus text-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4 md:col-span-6 col:col-span-12">
                                    <div class="group text-center p-[30px] bg-[#e9eaeb] relative rounded-[50%] 
                            transition-all duration-300 max-w-[350px]
                                mx-auto mb-[30px] hover:bg-[rgba(255,74,23,0.2)]">
                                        <div
                                            class="overflow-hidden rounded-[50%] border-[1px] border-[#fff] relative text-center">
                                            <img class="w-full rounded-[50%] scale-[1] transition-all duration-300 group-hover:scale-[1.2]"
                                                src="assets/images/team/3.jpg" alt="">
                                            <div class="absolute left-0 top-0 w-full h-full flex justify-center 
                                       flex-col rounded-[50%] transition-all duration-300  pt-[15px] translate-y-[100%]
                                        bg-[rgba(255,74,23,0.8)] group-hover:translate-y-[0]">
                                                <span class="uppercase text-[16px] font-base-font font-bold tracking-[3px]
                                            text-[#14212b]">MERKETER</span>
                                                <h2 class=" text-[32px] font-heading-font font-semibold mt-[10px] text-white
                                            lg:text-[25px]">Robert Johnson</h2>
                                                <a href="team-single.html"
                                                    class="inline-block w-[50px] h-[50px] leading-[50px]
                                             border-[1px] border-[#fff] mt-[20px] rounded-[50%] relative overflow-hidden
                                             after:absolute after:left-0 after:top-0 after:w-full after:h-full
                                             after:bg-[rgba(255,255,255,0.5)] after:-translate-x-full mx-auto
                                             hover:after:translate-x-full after:transition-all after:duration-300 after:ease-in-out">
                                                    <i class="ti-plus text-white"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="absolute top-[-25px] z-[-1] w-[120%] left-[-2%] md:hidden">
                                <img src="assets/images/team/shape1.png" alt="" class="w-[87%]">
                            </div>
                        </div>
                    </div>
                    <div class="absolute right-0 top-0 md:hidden">
                        <img src="assets/images/team/shape2.png" alt="">
                    </div>
                    <div class="absolute left-0 bottom-0 md:hidden">
                        <img src="assets/images/team/shape3.png" alt="">
                    </div>
                </section>
                <!-- start subscribe -->
                <section class="section-wrap">
                    <div class="wraper">
                        <div
                            class="p-[70px_100px] bg-[#14212b] flex items-center relative rounded-[10px] 
                     overflow-hidden z-[1] lg:p-[70px] md:p-[30px] sm:flex-wrap
                     before:absolute before:left-0 before:top-0 before:w-full before:h-full
                     before:bg-[url(../images/subscrbe-shape.png)] before:bg-no-repeat before:bg-center before:bg-cover before:z-[-1]">
                            <div class="basis-[30%] sm:basis-full sm:mb-[20px]">
                                <span class="text-[21px] text-[#ff4a17]">Subscribe here</span>
                                <h3 class="text-[40px] text-white font-semibold leading-[55px] mt-[10px] lg:text-[32px]
                            lg:leading-[40px] md:text-[28px] md:leading-[35px] md:mt-0">
                                    Subscribe For
                                    Newsletter</h3>
                            </div>
                            <div class="basis-[70%] pl-[60px] sm:basis-full sm:pl-0">
                                <form id="subscribe">
                                    <span id="emailError" class="text-center" style="color:red !important"></span>
                                    <div class="relative">
                                        <input type="email" name="Email" placeholder="Enter your email"
                                            class="w-full p-[40px] pr-[190px] h-[75px] rounded-[5px] bg-[#263139] border-none text-white sm:h-[55px] sm:p-[30px] sm:pr-[145px] col:p-[10px] col:pr-[100px] focus:outline-0 focus:shadow-none">
                                        <button type="submit" class="absolute right-[8px] bg-[#ff4a17] rounded-[5px] top-[8px]
                                 h-[65px] w-[170px]
                                border-0 text-white pr-[40px] sm:h-[45px] sm:w-[130px] col:w-[80px] col:h-[40px]
                                before:absolute before:right-[35px] before:top-[50%] 
                               ">Subscribe</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- start project -->
                <section class="section-wrap bg-[#14212b] relative z-[1]">
                    <div class="wraper">
                        <div class="mb-[75px] sm:mb-[40px] text-left">
                            <span class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] 
                     font-base-font">OUR PORTFOLIO</span>
                            <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
                     mt-[10px] relative capitalize font-heading-font font-bold
                     text-[#fff]">Successfull Work of Consoel</h2>
                        </div>
                    </div>
                    <div class="project-slider-s2 owl-carousel mb-[60px] px-[100px] xl:px-[50px] lg:px-0">
                        <div class="relative overflow-hidden group
                            before:absolute before:left-0 before:bottom-0 before:w-full before:h-0
                            before:z-[1]  before:bg-[linear-gradient(180deg,_rgba(255,74,23,0.98)_30%,_rgba(255,74,23,0)_50%)] hover:before:h-full before:transition-all before:rotate-[-180deg]
                            before:duration-500 before:ease-in-out">
                            <img src="assets/images/project/img-4.jpg" alt
                                class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                            <div class="absolute left-0 w-full bottom-[-10%]  transition-all duration-500 ease-in-out 
                         z-[11] 
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                                <span
                                    class="uppercase text-white text-[14px] font-base-font col:text-[12px] mb-[10px]">Business
                                    Consulting</span>
                                <h3
                                    class="text-[30px] text-white font-heading-font mb-[20px] font-semibold md:text-[25px] sm:text-[20px]">
                                    <a href="project-single.html" class="text-white">Market Research</a>
                                </h3>
                                <a class="block w-[60px] h-[60px] bg-white leading-[60px] rounded-[50%] text-center mx-auto text-[#14212b] opacity-0 invisible group-hover:opacity-100 transition-all duration-500 ease-in-out group-hover:visible"
                                    href="blog-single.html">
                                    <i class="fi flaticon-right-arrow-1 text-[14px]"></i>
                                </a>
                            </div>
                        </div>
                        <div class="relative overflow-hidden group
                            before:absolute before:left-0 before:bottom-0 before:w-full before:h-0
                            before:z-[1]  before:bg-[linear-gradient(180deg,_rgba(255,74,23,0.98)_30%,_rgba(255,74,23,0)_50%)] hover:before:h-full before:transition-all before:rotate-[-180deg]
                            before:duration-500 before:ease-in-out">
                            <img src="assets/images/project/img-5.jpg" alt
                                class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                            <div class="absolute left-0 w-full bottom-[-10%]  transition-all duration-500 ease-in-out 
                         z-[11] 
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                                <span class="uppercase text-white text-[14px] font-base-font col:text-[12px]
                         mb-[10px]">Business Consulting</span>
                                <h3
                                    class="text-[30px] text-white font-heading-font mb-[20px] font-semibold md:text-[25px] sm:text-[20px]">
                                    <a href="project-single.html" class="text-white">Investment planning</a>
                                </h3>
                                <a class="block w-[60px] h-[60px] bg-white leading-[60px] rounded-[50%] text-center mx-auto text-[#14212b] opacity-0 invisible group-hover:opacity-100 transition-all duration-500 ease-in-out group-hover:visible"
                                    href="blog-single.html">
                                    <i class="fi flaticon-right-arrow-1 text-[14px]"></i>
                                </a>
                            </div>
                        </div>
                        <div class="relative overflow-hidden group
                            before:absolute before:left-0 before:bottom-0 before:w-full before:h-0
                            before:z-[1]  before:bg-[linear-gradient(180deg,_rgba(255,74,23,0.98)_30%,_rgba(255,74,23,0)_50%)] hover:before:h-full before:transition-all before:rotate-[-180deg]
                            before:duration-500 before:ease-in-out">
                            <img src="assets/images/project/img-6.jpg" alt
                                class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                            <div class="absolute left-0 w-full bottom-[-10%]  transition-all duration-500 ease-in-out 
                         z-[11] 
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                                <span class="uppercase text-white text-[14px] font-base-font col:text-[12px]
                         mb-[10px]">Business Consulting</span>
                                <h3
                                    class="text-[30px] text-white font-heading-font mb-[20px] font-semibold md:text-[25px] sm:text-[20px]">
                                    <a href="project-single.html" class="text-white">Business Analysis</a>
                                </h3>
                                <a class="block w-[60px] h-[60px] bg-white leading-[60px] rounded-[50%] text-center mx-auto text-[#14212b] opacity-0 invisible group-hover:opacity-100 transition-all duration-500 ease-in-out group-hover:visible"
                                    href="blog-single.html">
                                    <i class="fi flaticon-right-arrow-1 text-[14px]"></i>
                                </a>
                            </div>
                        </div>
                        <div class="relative overflow-hidden group
                            before:absolute before:left-0 before:bottom-0 before:w-full before:h-0
                            before:z-[1]  before:bg-[linear-gradient(180deg,_rgba(255,74,23,0.98)_30%,_rgba(255,74,23,0)_50%)] hover:before:h-full before:transition-all before:rotate-[-180deg]
                            before:duration-500 before:ease-in-out">
                            <img src="assets/images/project/img-7.jpg" alt
                                class="scale-[1] transition-all duration-500 ease-in-out w-full group-hover:scale-[1.2]">
                            <div class="absolute left-0 w-full bottom-[-10%]  transition-all duration-500 ease-in-out 
                         z-[11] 
                         opacity-0 invisible group-hover:opacity-100
                         group-hover:visible group-hover:bottom-[30px] text-center">
                                <span class="uppercase text-white text-[14px] font-base-font col:text-[12px]
                         mb-[10px]">Business Consulting</span>
                                <h3
                                    class="text-[30px] text-white font-heading-font mb-[20px] font-semibold md:text-[25px] sm:text-[20px]">
                                    <a href="project-single.html" class="text-white">Financial Advices</a>
                                </h3>
                                <a class="block w-[60px] h-[60px] bg-white leading-[60px] rounded-[50%] text-center mx-auto text-[#14212b] opacity-0 invisible group-hover:opacity-100 transition-all duration-500 ease-in-out group-hover:visible"
                                    href="blog-single.html">
                                    <i class="fi flaticon-right-arrow-1 text-[14px]"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="absolute left-0 bottom-0 z-[-1] xl:left-[-20%] xl:bottom-[-10%] md:hidden">
                        <img src="assets/images/project/shape-2.png" alt="" class="w-full">
                    </div>
                    <div class="absolute right-0 top-0 z-[-1] xl:right-[-20%] xl:top-[-10%] md:hidden">
                        <img src="assets/images/project/shape-3.png" alt="" class="w-full">
                    </div>
                </section>

                <!-- start testimonial -->
                <section class="section-wrap">
                    <div class="wraper">
                        <div class="mb-[75px] sm:mb-[40px] text-center">
                            <span class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] 
                     font-base-font">CLIENT TESTIMONIAL</span>
                            <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
                     mt-[10px] relative capitalize font-heading-font font-bold
                     text-[#14212b]">Best Word Our Clients</h2>
                        </div>
                        <div class="max-w-[1000px] mx-auto text-center relative z-[1]">
                            <div
                                class="w-[100px] h-[100px] leading-[100px] bg-white 
                         shadow-[0px_0px_35px_0px_rgba(20,33,43,0.1)] mx-auto rounded-[50%] mb-[-50px] relative z-[11] ">
                                <i class="fi flaticon-left-quote text-[50px] text-[#ff4a17]"></i>
                            </div>
                            <div class="wpo-testimonial-slide bg-white shadow-[0px_0px_35px_0px_rgba(20,33,43,0.1)]">
                                <div
                                    class="p-[70px_130px] pt-[100px] bg-none sm:p-[40px] sm:pt-[80px] col:p-[30px_20px] col:pt-[60px]">
                                    <div class="wpo-testimonial-text">
                                        <p class="text-[18px] col:text-[15px] mb-[20px]">
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry
                                            has
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled make
                                            survived not only five centuries, but also the leap into electronic
                                            typesetting.
                                        </p>
                                        <div class="wpo-testimonial-text-btm">
                                            <h3 class="text-[32px] font-semibold mt-[5px] col:text-[25px] mb-[15px]">
                                                Cathi
                                                Falcon</h3>
                                            <span
                                                class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] col:text-[14px]">Founder</span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="p-[70px_130px] pt-[100px] bg-none sm:p-[40px] sm:pt-[80px] col:p-[30px_20px] col:pt-[60px]">
                                    <div class="wpo-testimonial-text">
                                        <p class="text-[18px] col:text-[15px] mb-[20px]">Lorem Ipsum is simply dummy
                                            text of the
                                            printing and typesetting industry has
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled make
                                            survived not only five centuries, but also the leap into electronic
                                            typesetting.
                                        </p>
                                        <div class="wpo-testimonial-text-btm">
                                            <h3 class="text-[32px] font-semibold mt-[5px] col:text-[25px] mb-[15px]">
                                                Harry
                                                Abraham</h3>
                                            <span
                                                class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] col:text-[14px]">SCG
                                                First Company</span>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="p-[70px_130px] pt-[100px] bg-none sm:p-[40px] sm:pt-[80px] col:p-[30px_20px] col:pt-[60px]">
                                    <div class="wpo-testimonial-text">
                                        <p class="text-[18px] col:text-[15px] mb-[20px]">Lorem Ipsum is simply dummy
                                            text of the
                                            printing and typesetting industry has
                                            text ever since the 1500s, when an unknown printer took a galley of type and
                                            scrambled make
                                            survived not only five centuries, but also the leap into electronic
                                            typesetting.
                                        </p>
                                        <div class="wpo-testimonial-text-btm">
                                            <h3 class="text-[32px] font-semibold mt-[5px] col:text-[25px] mb-[15px]">
                                                Benjir
                                                Walton</h3>
                                            <span
                                                class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] col:text-[14px]">Merketer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="absolute right-0 top-[50px] sm:hidden">
                                <svg width="152.000000pt" height="137.000000pt" viewBox="0 0 152.000000 137.000000"
                                    fill="#ff4a17" preserveAspectRatio="xMidYMid meet">
                                    <g transform="translate(0.000000,137.000000) scale(0.100000,-0.100000)"
                                        stroke="none">
                                        <path
                                            d="M101 1288 c171 -466 515 -851 954 -1070 126 -63 240 -107 373 -142 l92 -25 0 660 0 659 -725 0 -724 0 30 -82z" />
                                    </g>
                                </svg>
                            </div>
                            <div class="absolute left-0 bottom-0 sm:hidden">
                                <svg width="186.000000pt" height="202.000000pt" viewBox="0 0 186.000000 202.000000"
                                    fill="#ff4a17" preserveAspectRatio="xMidYMid meet">
                                    <g transform="translate(0.000000,202.000000) scale(0.100000,-0.100000)"
                                        stroke="none">
                                        <path
                                            d="M0 965 l0 -965 870 0 871 0 19 45 c67 157 56 324 -29 448 -87 127 -229 238 -648 507 -158 102 -337 220 -398 264 -238 170 -473 391 -609 574 -38 50 -71 92 -73 92 -1 0 -3 -434 -3 -965z" />
                                    </g>
                                </svg>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- start blog -->
                <section
                    class="bg-[#f3f4f4] pt-[120px] relative z-[1] md:pt-[90px] md:pb-[40px] sm:pt-[80px] sm:pb-[30px]">
                    <div class="wraper">
                        <div class="mb-[75px] sm:mb-[40px] text-center">
                            <span class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] 
                     font-base-font">BLOG POST</span>
                            <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
                     mt-[10px] relative capitalize font-heading-font font-bold
                     text-[#14212b]">Latest News From Blog</h2>
                        </div>
                        <div class="relative bottom-[-120px] mt-[-120px]">
                            <div class="grid grid-cols-12 gap-x-4">
                                <div class="col-span-4  md:col-span-6 sm:col-span-12">
                                    <div class="relative mt-[30px] group">
                                        <div class="relative overflow-hidden rounded-[8px]
                                        before:absolute before:left-0 before:bottom-0 before:w-full before:h-full
                                        before:bg-[linear-gradient(180deg,_rgba(20,33,43,0.98)_20%,_rgba(20,33,43,0)_50%)]
                                        before:rotate-[-180deg] before:z-[1] before:rounded-[8px] before:transition
                                        before:duration-300 ">
                                            <img src="assets/images/blog/img-7.jpg" alt=""
                                                class="scale-[1] rounded-[8px] transition-all duration-500 group-hover:scale-[1.2]">
                                        </div>
                                        <div class="p-[50px] pb-[0] absolute left-0 bottom-[-60px] z-[11] col:p-[30px] transition-all
                                    duration-500 group-hover:bottom-[-30px] lg:p-[20px] lg:pb-[0]">
                                            <ul class="flex col:block">
                                                <li class="text-white text-[14px] uppercase">
                                                    <a href="blog-single.html" class="text-[#ff4a17]">25 Dec, 2020</a>
                                                </li>
                                                <li class="pl-[20px] relative col:pl-0 col:mt-[5px] text-white text-[14px] uppercase before:absolute before:left-[10px] before:top-[50%]
                                         before:-translate-y-1/2 before:content-['-'] col:before:hidden">by: Marilou
                                                    Kelleher</li>
                                            </ul>
                                            <h2
                                                class="text-[20px] leading-[32px] mt-[10px] mb-[30px] col:text-[22px] col:mb-[15px] col:leading-[30px]">
                                                <a href="blog-single.html"
                                                    class="text-white transition-all duration-500 hover:text-[#ff4a17]">
                                                    We provide advanced
                                                    solution
                                                    growin your online.</a>
                                            </h2>
                                            <a class="block w-[60px] h-[60px] bg-[#ff4a17] leading-[60px] rounded-[50%] text-center mx-auto text-white opacity-0 invisible group-hover:opacity-100 transition-all duration-500 ease-in-out group-hover:visible"
                                                href="blog-single.html">
                                                <i class="fi flaticon-right-arrow-1 text-[14px]"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4  md:col-span-6 sm:col-span-12">
                                    <div class="relative mt-[30px] group">
                                        <div class="relative overflow-hidden rounded-[8px]
                                        before:absolute before:left-0 before:bottom-0 before:w-full before:h-full
                                        before:bg-[linear-gradient(180deg,_rgba(20,33,43,0.98)_20%,_rgba(20,33,43,0)_50%)]
                                        before:rotate-[-180deg] before:z-[1] before:rounded-[8px] before:transition
                                        before:duration-300 ">
                                            <img src="assets/images/blog/img-8.jpg" alt=""
                                                class="scale-[1] rounded-[8px] transition-all duration-500 group-hover:scale-[1.2]">
                                        </div>
                                        <div class="p-[50px] pb-[0] absolute left-0 bottom-[-60px] z-[11] col:p-[30px] transition-all
                                    duration-500 group-hover:bottom-[-30px] lg:p-[20px] lg:pb-[0]">
                                            <ul class="flex col:block">
                                                <li class="text-white text-[14px] uppercase">
                                                    <a href="blog-single.html" class="text-[#ff4a17]">25 Dec, 2020</a>
                                                </li>
                                                <li class="pl-[20px] relative col:pl-0 col:mt-[5px] text-white text-[14px] uppercase before:absolute before:left-[10px] before:top-[50%]
                                         before:-translate-y-1/2 before:content-['-'] col:before:hidden">by: Marilou
                                                    Kelleher</li>
                                            </ul>
                                            <h2
                                                class="text-[20px] leading-[32px] mt-[10px] mb-[30px] col:text-[22px] col:mb-[15px] col:leading-[30px]">
                                                <a href="blog-single.html"
                                                    class="text-white transition-all duration-500 hover:text-[#ff4a17]">
                                                    We provide advanced
                                                    solution
                                                    growin your online.</a>
                                            </h2>
                                            <a class="block w-[60px] h-[60px] bg-[#ff4a17] leading-[60px] rounded-[50%] text-center mx-auto text-white opacity-0 invisible group-hover:opacity-100 transition-all duration-500 ease-in-out group-hover:visible"
                                                href="blog-single.html">
                                                <i class="fi flaticon-right-arrow-1 text-[14px]"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-span-4  md:col-span-6 sm:col-span-12">
                                    <div class="relative mt-[30px] group">
                                        <div class="relative overflow-hidden rounded-[8px]
                                        before:absolute before:left-0 before:bottom-0 before:w-full before:h-full
                                        before:bg-[linear-gradient(180deg,_rgba(20,33,43,0.98)_20%,_rgba(20,33,43,0)_50%)]
                                        before:rotate-[-180deg] before:z-[1] before:rounded-[8px] before:transition
                                        before:duration-300 ">
                                            <img src="assets/images/blog/img-8.jpg" alt=""
                                                class="scale-[1] rounded-[8px] transition-all duration-500 group-hover:scale-[1.2]">
                                        </div>
                                        <div class="p-[50px] pb-[0] absolute left-0 bottom-[-60px] z-[11] col:p-[30px] transition-all
                                    duration-500 group-hover:bottom-[-30px] lg:p-[20px] lg:pb-[0]">
                                            <ul class="flex col:block">
                                                <li class="text-white text-[14px] uppercase">
                                                    <a href="blog-single.html" class="text-[#ff4a17]">25 Dec, 2020</a>
                                                </li>
                                                <li class="pl-[20px] relative col:pl-0 col:mt-[5px] text-white text-[14px] uppercase before:absolute before:left-[10px] before:top-[50%]
                                         before:-translate-y-1/2 before:content-['-'] col:before:hidden">by: Marilou
                                                    Kelleher</li>
                                            </ul>
                                            <h2
                                                class="text-[20px] leading-[32px] mt-[10px] mb-[30px] col:text-[22px] col:mb-[15px] col:leading-[30px]">
                                                <a href="blog-single.html"
                                                    class="text-white transition-all duration-500 hover:text-[#ff4a17]">
                                                    We provide advanced
                                                    solution
                                                    growin your online.</a>
                                            </h2>
                                            <a class="block w-[60px] h-[60px] bg-[#ff4a17] leading-[60px] rounded-[50%] text-center mx-auto text-white opacity-0 invisible group-hover:opacity-100 transition-all duration-500 ease-in-out group-hover:visible"
                                                href="blog-single.html">
                                                <i class="fi flaticon-right-arrow-1 text-[14px]"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute left-0 bottom-0 z-[-1] md:hidden">
                        <img src="assets/images/blog/shape.png" alt="">
                    </div>

                    <div class="absolute right-0 top-0 z-[-1] md:hidden">
                        <img src="assets/images/blog/shape2.png" alt="">
                    </div>
                </section>

                <!-- start partners -->
                <section class="pt-[190px] pb-[120px] md:pb-[90px] sm:pb-[80px]">
                    <h2 class="hidden">hidden</h2>
                    <div class="wraper">
                        <div
                            class="partner-grids partners-slider owl-carousel clearfix flex justify-center items-center">
                            <div class="flex justify-center items-center w-[200px] h-[70px] mx-auto">
                                <img class="m-[0_auto] grayscale-[100%]" src="assets/images/partners/img-5.png" alt="">
                            </div>
                            <div class="flex justify-center items-center w-[200px] h-[70px] mx-auto">
                                <img class="m-[0_auto] grayscale-[100%]" src="assets/images/partners/img-8.png" alt="">
                            </div>
                            <div class="flex justify-center items-center w-[200px] h-[70px] mx-auto">
                                <img class="m-[0_auto] grayscale-[100%]" src="assets/images/partners/img-6.png" alt="">
                            </div>
                            <div class="flex justify-center items-center w-[200px] h-[70px] mx-auto">
                                <img class="m-[0_auto]  grayscale-[100%]" src="assets/images/partners/img-7.png" alt="">
                            </div>
                        </div>
                    </div>
                </section>

                <!-- start footer -->
                <%- include('../../Layouts/Frontend/Footer.ejs')%>
        </div>
        <!-- end of page-wrapper -->
        <%- include('../../Layouts/Frontend/Scripts.ejs')%>
    </body>

</html>