<!doctype html>
<html class="no-js" lang="zxx">
   <%- include('../../Layouts/Frontend/Header.ejs')%>
   <body>

    <!-- start page-wrapper -->
    <div class="page-wrapper">
        <!-- start header-section -->
        <%- include('../../Layouts/Frontend/Navbar.ejs')%>
        <!-- start page-title -->
        <section
            class="bg-[url(../images/page-title.jpg)] bg-center bg-cover bg-no-repeat w-full h-[480px] text-center relative z-[1] flex justify-center flex-col md:h-[400px] before:w-full before:h-full before:absolute before:left-0 before:top-0 before:bg-[#14212b] before:opacity-[0.5] before:-[-1]">
            <div class="overflow-hidden relative w-full h-full">
                <div class="wraper">
                    <div class="flex items-center justify-center h-[480px] md:h-[400px]">
                        <div class="col-span-12">
                            <h2
                                class="text-[60px] text-white mb-[40px] sm:mb-[25px] font-bold capitalize md:text-[50px] mt-[145px] md:mt-[140px] col:mt-[180px] sm:text-[40px]">
                                Service</h2>
                            <ol class="flex justify-center">
                                <li class="text-[16px] text-white mr-[5px] sm:text-[14px]">
                                    <a href="index.html"
                                        class="text-white transition-all duration-300 hover:text-[#e33200]">Home</a>
                                </li>
                                <li class="relative text-[16px] text-white sm:text-[14px] pl-[20px] ml-[6px]
                                    before:mr-[5px] before:w-[8px] before:h-[4px] before:bg-white before:absolute
                                    before:left-0 before:top-1/2 before:-translate-y-1/2 before:rounded-[2px]">
                                    Service</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="wow fadeInDown absolute right-[-70px] top-[-70px] w-[300px] h-[300px] bg-[#ff4a17] rounded-[50%] -z[-1]  col:hidden "
                    data-wow-duration="0.9s" data-wow-delay=".3s"></div>
                <div class="wow fadeInDown absolute left-0 top-0  sm:left-[-100px] sm:top-[-100px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-1.png" alt="">
                </div>
                <div class="wow fadeInUp absolute right-0 bottom-0  sm:right-[-100px] sm:bottom-[-30px] col:hidden"
                    data-wow-duration="0.9s" data-wow-delay=".3s">
                    <img src="assets/images/page-title-shape-2.png" alt="">
                </div>
            </div>
        </section>

        <!-- start cta -->
        <section class="section-wrap">
            <div class="wraper">
                <div class="p-[80px_85px] bg-[url(../images/cta-bg.jpg)] bg-no-repeat bg-center rounded-[6px]
                md:p-[40px_35px] col:p-[10px]">
                    <div
                        class="p-[100px_80px] bg-[rgba(20,33,43,0.9)] flex items-center relative z-[1] rounded-[6px] overflow-hidden lg:flex-wrap lg:justify-center lg:text-center col:p-[20px_15px]">
                        <div class="mr-[80px] basis-[80%] lg:basis-full lg:mr-0">
                            <span
                                class="uppercase text-[16px] font-base-font font-bold tracking-[3px] text-[#ff4a17]">WE
                                ARE
                                HERE</span>
                            <h2 class="text-[45px] text-white mt-[20px]
                                 lg:text-[40px] lg:mb-[20px] font-heading-font font-semibold leading-[1.2]
                                 sm:text-[30px]">Tell us about your business,
                                we are ready to solve.</h2>
                        </div>
                        <div class="basis-[20%] lg:basis-[100%]">
                            <a href="contact.html" class="inline-block p-[15px_35px] pr-[45px] text-white relative rounded-[6px] mt-[10px] max-w-[150px] uppercase bg-[#ff4a17] md:border-white md:border-[1px]  transition-all
                                 before:absolute before:right-[20px] before:top-[51%] before:content-['\f103'] font-base-font
                                 before:font-['Flaticon'] before:-translate-y-1/2
                                 hover:bg-[#ed3400] hover:text-white ">Call us</a>
                        </div>
                        <div class="absolute left-[-1px] bottom-0 z-[-1] ">
                            <svg width="325.000000pt" height="267.000000pt" viewBox="0 0 325.000000 267.000000"
                                fill="#ff4a17" preserveAspectRatio="xMidYMid meet">
                                <g transform="translate(0.000000,267.000000) scale(0.100000,-0.100000)" stroke="none">
                                    <path
                                        d="M0 1332 l0 -1332 920 0 919 0 39 53 c213 291 233 519 64 720 -101 119 -201 194 -617 462 -344 222 -452 297 -605 426 -320 268 -528 547 -676 906 -20 48 -38 90 -40 92 -2 2 -4 -595 -4 -1327z" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   <!-- start  service -->
   <section class="section-wrap overflow-hidden relative ">
    <div class="wraper">
        <div class="mb-[75px] sm:mb-[40px] text-center">
            <span class="uppercase text-[16px] font-bold tracking-[3px] text-[#ff4a17] 
             font-base-font">Our Services</span>
            <h2 class="text-[55px] md:text-[35px] sm:text-[32px] col:text-[28px] leading-[70px] md:leading-[55px] sm:leading-[40px] 
             mt-[10px] relative capitalize font-heading-font font-bold
             text-[#14212b]">Check Our Solutions</h2>
        </div>
        <div class="wpo-service-slider-two owl-carousel">
            <% if(services.length<=0){ %>
                <div class="alert alert-danger">
                    <strong>
                        Kindly check later for available services
                    </strong>
                </div>
            <%}else{ %>
                <% services.forEach((service)=>{ %>
                    <div class="p-[50px] col:p-[30px_25px] shadow-[0px_0px_20px_0px_rgba(20,33,43,0.1)]">
                        <div class="text-center">
                            <div
                                class="w-[120px] h-[120px] leading-[120px]  text-center mx-auto mb-[30px] text-[50px] rounded-[50%]">
                                <img class="h-[120px]" src="Uploads/<%= service.Photo %>" alt="" style="border-radius: 160px;">
                            </div>
                            <h2 class="text-[#ff4a17] underline text-[30px] font-bold mb-[20px] xl:text-[25px] col:text-[25px]">
                                <%= service.Title %> for KES.<%= (service.Pay).toLocaleString("en") %>
                            </h2>
                            <p class="text-left text-[#6e6e6e]">
                                <%= `${(service.Headline).substr(0,150)} ...` %>
                            </p>
                            <a href="/Book-A-Service?serviceID=<%=service._id %>" class="inline-block transition-all duration-300 p-[10px_35px] pr-[45px] text-[#ff4a17] border-[1px] border-[#ff4a17]
                                relative rounded-[6px] mt-[20px] uppercase before:absolute before:right-[20px]
                                before:top-[51%] before:content-['\f103'] before:font-['Flaticon']
                                before:-translate-y-1/2 hover:bg-[#ff4a17] hover:text-white">Book</a>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    </div>
</section>

        <!-- start subscribe -->
        <section class="section-wrap">
            <div class="wraper">
                <div
                    class="p-[70px_100px] bg-[#ff4a17] flex items-center relative rounded-[10px]
                     overflow-hidden z-[1] lg:p-[70px] md:p-[30px] sm:flex-wrap
                     before:absolute before:left-0 before:top-0 before:w-full before:h-full
                     before:bg-[url(../images/subscrbe-shape2.png)] before:bg-no-repeat before:bg-center before:bg-cover before:z-[-1]">
                    <div class="basis-[30%] sm:basis-full sm:mb-[20px]">
                        <span class="text-[21px] text-white">Subscribe here</span>
                        <h3 class="text-[40px] text-white font-semibold leading-[55px] mt-[10px] lg:text-[32px]
                            lg:leading-[40px] md:text-[28px] md:leading-[35px] md:mt-0">
                            Subscribe For
                            Newsletter</h3>
                    </div>
                    <div class="basis-[70%] pl-[60px] sm:basis-full sm:pl-0">
                        <form action="#">
                            <div class="relative">
                                <input type="email" placeholder="Enter your email" required
                                    class="w-full p-[40px] pr-[190px] h-[75px] rounded-[5px] bg-white border-none text-white sm:h-[55px] sm:p-[30px] sm:pr-[145px] col:p-[10px] col:pr-[100px] focus:outline-0 focus:shadow-none">
                                <button type="submit" class="absolute right-[8px] bg-[#14212b] rounded-[5px] top-[8px]
                                 h-[65px] w-[170px]
                                border-0 text-white pr-[40px] sm:h-[45px] sm:w-[130px] col:w-[80px] col:h-[40px]
                                before:absolute before:right-[35px] before:top-[50%] before:content-['\f102']
                                before:font-['Flaticon'] before:-translate-y-1/2 sm:before:right-[20px]
                                col:before:hidden 
                               ">Subscribe</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- start footer -->
        <%- include('../../Layouts/Frontend/Footer.ejs')%>
    </div>
    <!-- end of page-wrapper -->
    <%- include('../../Layouts/Frontend/Scripts.ejs')%>  
</body>

</html>