
<!DOCTYPE html>
<html lang="en">
<%- include('../../Layouts/Backend/Header.ejs') %>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
        <div class="page-body">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                  <a class="navbar-brand" href="#">GCG</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Cart</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Wishlist</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Orders</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/Dashboard">My Account</a>
                      </li>
                    </ul>
                  </div>
                </nav>
            </div>
            <!-- Container-fluid starts-->
            <div class="container-fluid product-wrapper">
              <div class="product-grid">
                <div class="product-wrapper-grid">
                  <div class="row">
                    <% if(products){ %>
                      <% products.map((product)=>{ %>
                        <div class="col-xl-3 col-lg-4 col-sm-6 xl-3">
                          <div class="card">
                            <div class="product-box">
                              <div class="product-img">
                                <div class="ribbon ribbon-danger"><%= product.ProductCategory %></div><img class="img-fluid" src="Uploads/<%=product.ProductImage %>" style="height:300px;width:300px" alt="">
                                <div class="product-hover">
                                  <ul>
                                    <li><a href="cart.html"><i data-feather="shopping-bag"></i></a></li>
                                    <li><a data-bs-toggle="modal" data-bs-target="#exampleModalCenter1"><i data-feather="eye"></i></a></li>
                                  </ul>
                                </div>
                              </div>
                              <!-- <div class="modal fade" id="exampleModalCenter1">
                                <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <div class="product-box row">
                                        <div class="product-img col-lg-6"><img class="img-fluid" src="Uploads/<%=product.ProductImage %>" alt=""></div>
                                        <div class="product-details col-lg-6 text-start"><a href="product-page.html">
                                            <h4>Men's Shirt</h4></a>
                                          <div class="product-price">$260.00
                                            <del>$320.00 </del>
                                          </div>
                                          <div class="product-view">
                                            <h6 class="f-w-600">Product Details</h6>
                                            <p class="mb-0">Lorate Solid Men's Fashion Full Sleeves Latest Jacket for Men With Button Closure Long Sleeve Casual Torn Lycra Men Denim Shirt.</p>
                                          </div>
                                          <div class="product-size">
                                            <ul>
                                              <li> 
                                                <button class="btn" type="button">M</button>
                                              </li>
                                              <li> 
                                                <button class="btn" type="button">L</button>
                                              </li>
                                              <li> 
                                                <button class="btn" type="button">Xl</button>
                                              </li>
                                            </ul>
                                          </div>
                                          <div class="product-qnty">
                                            <h6 class="f-w-600">Quantity</h6>
                                            <fieldset>
                                              <div class="input-group">
                                                <input class="touchspin text-center" type="text" value="5">
                                              </div>
                                            </fieldset>
                                            <div class="addcart-btn"><a class="btn btn-primary me-3" href="cart.html">Add to Cart</a><a class="btn btn-primary" href="product-page.html">View Details</a></div>
                                          </div>
                                        </div>
                                      </div>
                                      <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                  </div>
                                </div>
                              </div> -->
                              <div class="product-details"><a href="/View-Product?Product=<%= product.ProductSlug %>">
                                  <h4 title="<%= product.ProductName %>"><%= product.ProductName.substring(0,20) %>...</h4></a>
                                <div class="product-price">KES. <%= product.Price.toLocaleString('en')  %>
                                  <del> KES. <%= (product.Price * 110 / 100).toLocaleString('en')  %></del>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      <% }) %>
                    <% }else{ %> 
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <!-- Container-fluid Ends-->
    </div>
    <%- include('../../Layouts/Backend/Scripts.ejs') %>
  </body>
</html>