<!doctype html>
<html  lang="zxx">
   <%- include('../../Layouts/Frontend/Header.ejs')%>
   <body>
    <div class="flex justify-center bg-gray-200 mt-[75px]">
        <div class="text-gray-700 text-center bg-gray-400 px-4 py-2 m-2">
            <div class="max-w-[540px] mx-auto text-center mb-3">
                <h2 class="text-[35px] col:text-[25px] text-[#0a272c] font-heading-font font-bold
                    mb-[20px]"> Book a service with Us</h2>
                <p class="text-[#687693] text-[16px] leading-[22px]">
                    Kindly fill in the details below 
                </p>
            </div>
            <div class="p-[30px] bg-white relative z-10 
                shadow-[0px_1px_15px_0px_rgba(62,65,159,0.1)] sm:p-7 sm:pt-[50px]">
                <form  class="contact-validation-active mx-[-15px]" method="POST" action="/Post-Appointment">
                    <div class="w-[calc-(100%-25px)] mb-[25px] mx-[15px]">
                        <h6 style="color:red" id="namesError"></h6>
                        <input type="text" class="form-control w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px]
                        text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none
                        focus:border-[#ff4a17] focus:bg-transparent " name="serviceID" value="<%= service._id %>"
                        placeholder="<%=service.Title %>" autocomplete="off" hidden>
                    </div>
                    <div class="w-[calc-(100%-25px)] mb-[25px] mx-[15px]">
                        <h6 style="color:red" id="emailError"></h6>
                        <label for="Date">Service </label>
                        <input type="email" class="form-control w-full bg-transparent border-[1px] border-[#ebebeb] h-[50px]
                            text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none
                             focus:border-[#ff4a17] focus:bg-transparent " name="ServiceTitle"  value="<%= service.Title %>"
                            readonly>
                    </div>
                    <div class="w-[calc-(100%-25px)] mb-[25px] mx-[15px]">
                        <h6 style="color:red" id="confirmPassError"></h6>
                        <label for="Date">Service Date</label>
                        <input type="date" class="form-control  w-full bg-transparent border-[1px] border-[#ebebeb] 
                            h-[50px] text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none  
<<<<<<< HEAD
                            focus:border-[#ff4a17] focus:bg-transparent" name="serviceDate" required
=======
                            focus:border-[#ff4a17] focus:bg-transparent" min="<%= new Date().toISOString().split('T')[0] %>"
>>>>>>> a3a9240589ed56eff071658d9d43358ef93b8aca
                            >
                    </div>
                    <div class="w-[calc-(100%-25px)] mb-[25px] mx-[15px]">
                        <h6 style="color:red" id="passwordError"></h6>
                        <label for="Date">Service Price</label>
                        <input type="text" class="form-control  w-full bg-transparent border-[1px] border-[#ebebeb] 
                            h-[50px] text-[#212529] transition-all pl-[25px] focus:outline-0 focus:shadow-none  
                            focus:border-[#ff4a17] focus:bg-transparent" value="KES <%= (service.Pay).toLocaleString('en') %>" name="servicePrice"
                            >
                    </div>
                    <div class="text-center w-full mb-[5px]">
                        <button type="submit" class="bg-[#ff4a17] text-[#fff] inline-block py-[12px] px-[22px] border
                            hover:text-[#ff4a17]
                            border-transparent ] capitalize transition-all hover:bg-transparent
                            hover:border-[#ff4a17]">Book Service</button>
                    </div>
                    <div class="flex justify-center">
                        <span>
                            <a href="/" class="text-blue-500 cursor:pointer">
                                Home
                            </a>
                        </span>
                    </div>
                </form>
            </div>
        </div>
      </div>
    <!-- start page-wrapper -->
        <!-- start footer -->
    </div>
    <!-- end of page-wrapper -->
    <%- include('../../Layouts/Frontend/Scripts.ejs')%>  
    <script>
        const registrationForm = document.querySelector("form#registerForm")
        const namesError = document.querySelector("h6#namesError")
        const emailError = document.querySelector("h6#emailError")
        const passwordError = document.querySelector("h6#passwordError")
        const confirmPassError = document.querySelector("h6#confirmPassError")
        registrationForm.addEventListener('submit',async (e)=>{
            namesError.textContent = ''
            emailError.textContent = ''
            passwordError.textContent = ''
            confirmPassError.textContent = ''
            e.preventDefault()
            const FullNames = registrationForm.fullname.value
            const Email = registrationForm.email.value
            const Password = registrationForm.password.value
            const ConfirmPassword = registrationForm.cpassword.value
            if(!FullNames || FullNames===''){
                namesError.textContent = 'Full Names are required'
            }
            if(!Email || Email===''){
                emailError.textContent = 'Email is required'
            }
            if(!Password || Password===''){
                passwordError.textContent = 'Password is required'
            }
            if(!ConfirmPassword || ConfirmPassword===''){
                confirmPassError.textContent = 'Confirm Password field is required'
            }
            
            if(Password !== ConfirmPassword ){
                passwordError.textContent = 'The Password Fields Should Match'
                confirmPassError.textContent = 'The Password Fields Should Match'
            }
            if(Password === ConfirmPassword && FullNames && Email && Password && ConfirmPassword){
                if(Password.length<6){
                    passwordError.textContent = 'Password length Should be Grater than 6'
                }else{
                    const res = await fetch("/Get-Registration-Details", {
                        method:'POST',
                        body:JSON.stringify({
                            FullNames,
                            Email,
                            Password,
                            ConfirmPassword,
                        }),
                        headers:{
                            'Content-Type':'application/json'
                        }
                    })
                    const dataBack = await res.json()
                    if(dataBack.status==='success'){
                        registrationForm.reset()
                    }
                    swal(dataBack.status, dataBack.message, dataBack.status);
                }
            }
        })
    </script>
</body>

</html>