
<!DOCTYPE html>
<html lang="en">
<%- include('../../../Layouts/Backend/Header.ejs') %>
<style>
    #container {
        width: 1000px;
        margin: 20px auto;
    }
    .ck-editor__editable[role="textbox"] {
        /* editing area */
        min-height: 500px;
    }
    .ck-content .image {
        /* block images */
        max-width: 80%;
        margin: 20px auto;
    }
</style>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0">
          <form class="form-inline search-full col" action="#" method="get">
            <div class="form-group w-100">
              <div class="Typeahead Typeahead--twitterUsers">
                <div class="u-posRelative">
                  <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Koho .." name="q" title="" autofocus>
                  <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div><i class="close-search" data-feather="x"></i>
                </div>
                <div class="Typeahead-menu"></div>
              </div>
            </div>
          </form>
          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light" src="Backend/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="Backend/images/logo/logo-dark.png" alt=""></a></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
          </div>
          <div class="left-header col horizontal-wrapper ps-0">
          </div>
          <div class="nav-right col-6 pull-right right-header p-0">
            <ul class="nav-menus">   
              <li>
                <div class="mode"><i data-feather="moon"></i></div>
              </li>
              <li class="maximize"><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a></li>
              <li class="profile-nav onhover-dropdown p-0 me-0">
                <div class="d-flex profile-media"><img class="b-r-50" src="Backend/images/dashboard/profile.png" alt="">
                  <div class="flex-grow-1"><span><%= user.FullName %></span>
                    <p class="mb-0 font-roboto"><%= user.Role %> <i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="/Logout"><i data-feather="log-in"> </i><span>Log out</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h3>Add Products</h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Dashboard">                                       <i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active">Index</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <form  id="products">
                        <div class="alert hidden" id="brandAlert">
                            <span id="respText"></span>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Product name" class="label-control">Product Name</label>
                                    <input type="text" name="ProductName" id="" class="form-control" placeholder="Enter the Product Name here">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Product Category" class="label-control">Product Category</label>
                                    <select class="form-control" name="categories[]" multiple="multiple" id="productCategory">
                                        <option value="AL">Alabama</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="WY">Coming</option>
                                        <option value="WY">Hanry Die</option>
                                        <option value="WY">John Doe</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Featured Image" class="label-control">Featured Image</label>
                                    <input type="file" name="FeaturedImage" id="" class="form-control" placeholder="Main Display Image">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Other Images" class="label-control">Other Images</label>
                                    <input type="file" name="OtherImages" id="" class="form-control" placeholder="Other Product Images">
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="Product Category" class="label-control">Product Brands</label>
                                        <select class="form-control" name="categories[]" multiple="multiple" id="productBrands">
                                            <option value="AL">Alabama</option>
                                            <option value="WY">Wyoming</option>
                                            <option value="WY">Coming</option>
                                            <option value="WY">Hanry Die</option>
                                            <option value="WY">John Doe</option>
                                          </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Item Quantity" class="label-control">Item Quantity</label>
                                    <input type="number" name="Qty" id="" class="form-control" placeholder="Item Quantities Here">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="mb-3 input-group-square">
                                    <label class="form-label">Product Price</label>
                                    <div class="input-group input-group-air left-radius"><span class="input-group-text">KES</span>
                                      <input class="form-control" type="number" name="Price" placeholder="Price In Ksh ">
                                    </div>
                                  </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="Category name" class="label-control">Product Variations</label>
                                    <input type="text" name="CategoryName" id="" class="form-control" placeholder="Enter the Category Name here">
                                </div>
                            </div>
                        </div>                       
                        <div class="form-group">
                            <label for="Category name" class="label-control">Product Description</label>
                            <textarea name="ProductDescription" id="productDescription" cols="30" rows="10"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Add Product</button>
                        </div>
                    </form>
                </div>
            </div>
          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-10 p-0 footer-left">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Gitome Computer Garage</p>
              </div>
              <div class="col-2 p-0 footer-right">     <i class="fa fa-heart font-danger">               </i></div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <%- include('../../../Layouts/Backend/Scripts.ejs') %>
    <script>
        $(document).ready(function() {
            $('#productCategory').select2({
                    placeholder: "Select Categories"
            });
            $('#productBrands').select2({
                    placeholder: "Select Brands"
            });
        });
        ClassicEditor
            .create( document.querySelector( '#productDescription' ))
            .catch( error => {
                console.error( error );
            } );
    </script>
    </body>
</html>