
<!DOCTYPE html>
<html lang="en">
<%- include('../../../Layouts/Backend/Header.ejs') %>
  <body>
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- Loader starts-->
    <div class="loader-wrapper">
      <div class="loader"></div>
    </div>
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <div class="page-header">
        <div class="header-wrapper row m-0">
          <form class="form-inline search-full col" action="#" method="get">
            <div class="form-group w-100">
              <div class="Typeahead Typeahead--twitterUsers">
                <div class="u-posRelative">
                  <input class="demo-input Typeahead-input form-control-plaintext w-100" type="text" placeholder="Search Koho .." name="q" title="" autofocus>
                  <div class="spinner-border Typeahead-spinner" role="status"><span class="sr-only">Loading...</span></div><i class="close-search" data-feather="x"></i>
                </div>
                <div class="Typeahead-menu"></div>
              </div>
            </div>
          </form>
          <div class="header-logo-wrapper col-auto p-0">
            <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light" src="Backend/images/logo/logo.png" alt=""><img class="img-fluid for-dark" src="Backend/images/logo/logo-dark.png" alt=""></a></div>
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="align-center"></i></div>
          </div>
          <div class="left-header col horizontal-wrapper ps-0">
          </div>
          <div class="nav-right col-6 pull-right right-header p-0">
            <ul class="nav-menus">   
              <li>
                <div class="mode"><i data-feather="moon"></i></div>
              </li>
              <li class="maximize"><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a></li>
              <li class="profile-nav onhover-dropdown p-0 me-0">
                <div class="d-flex profile-media"><img class="b-r-50" src="Backend/images/dashboard/profile.png" alt="">
                  <div class="flex-grow-1"><span><%= user.FullName %></span>
                    <p class="mb-0 font-roboto"><%= user.Role %> <i class="fa fa-angle-down"></i></p>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a href="/Logout"><i data-feather="log-in"> </i><span>Log out</span></a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-6">
                  <h3>Check Out</h3>
                </div>
                <div class="col-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Dashboard"><i data-feather="home"></i></a></li>
                    <li class="breadcrumb-item">Dashboard</li>
                    <li class="breadcrumb-item active">Check Out</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="card">
              <div class="card-header pb-0">
                <h3>Billing Details</h3>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-xl-6 col-sm-12">
                    <form id="checkOutForm">
                      <div class="row">
                        <div class="mb-3 col-sm-6">
                          <span class="text-danger text-center" id="phoneError"></span>
                          <label for="phonenumber">Phone</label>
                          <input class="form-control" name="phone" type="number" <%if(profile) {%> value="<%= profile.PhoneNumber %>"<% }%>>
                        </div>
                        <div class="mb-3 col-sm-6">
                          <span class="text-danger text-center" id="emailError"></span>
                          <label for="inputPassword7">Email Address</label>
                          <input class="form-control" name="email" type="email" <%if(profile) {%> value="<%= profile.Email %>"<% }%>>
                        </div>
                      </div>
                      <div class="mb-3">
                        <span class="text-danger text-center" id="countyError"></span>
                        <label for="inputState">County</label>
                        <select class="form-control" name="county" onchange="getTowns(this.value)">
                          <option label="---Choose Your County--"></option>
                          <% if(counties){ %>
                            <% counties.forEach((county)=>{%>
                              <option value="<%=county.CountyName %>"><%=county.CountyName %></option>
                            <% })%>
                          <%}else{ %>
                            <option label="--No Data Found--"></option>
                          <% } %>
                        </select>
                      </div>
                      <div class="mb-3">
                        <span class="text-danger text-center" id="townError"></span>
                        <label for="inputCity">Town</label>
                        <select name="town" id="towns" class="form-control" onchange="getShipping(this.value)"></select>
                      </div>
                      <div class="mb-3">
                        <span class="text-danger text-center" id="addressError"></span>
                        <label for="inputAddress5">Address</label>
                        <input class="form-control" name="address" type="text" <%if(profile) {%> value="<%= profile.Address %>"<% }%>>
                      </div>
                      <div class="mb-3">
                        <span class="text-danger text-center" id="postalError"></span>
                        <label for="inputAddress6">Postal Code</label>
                        <input class="form-control" name="postal" type="number" <%if(profile) {%> value="<%= profile.PostalCode %>"<% }%>>
                      </div>
                  </div>
                  <div class="col-xl-6 col-sm-12">
                    <div class="checkout-details">
                      <div class="order-box">
                        <div class="title-box">
                          <div class="checkbox-title">
                            <h2 class="mb-0">Product </h2><span>Total</span>
                          </div>
                        </div>
                        <ul class="qty">
                          <% if(cart){ %>
                            <% cart.forEach((item)=>{ %>
                              <li> <%= item.Product %>  <%= item.ProductQty %> x  <%= item.ProductPrice %><span> KES.<%= (item.TotalPay).toLocaleString("en") %></span></li>
                           <% }) %>
                          <%} %>
                        </ul>
                        <ul class="sub-total">
                          <li>Subtotal <span class="count" id="cartTotal" data-total="<%=totalPrice %>">KES.<%=totalPrice.toLocaleString("en") %></span></li>
                          <li class="shipping-class">Shipping Fees
                            <div class="shopping-checkout-option">
                              <label class="d-block" for="chk-ani">
                                <span id="ShippingFees">KES. 0</span>
                              </label>
                            </div>
                          </li>
                        </ul>
                        <ul class="sub-total total">
                          <li>Total <span class="count" id="shippingTotal">KES. 0</span></li>
                        </ul>
                        <div class="order-place">
                          <button class="btn btn-primary" type="submit">Pay Now</button>
                        </div>
                        </form>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-10 p-0 footer-left">
                <p class="mb-0">&copy; <%= new Date().getFullYear() %> Gitome Computer Garage</p>
              </div>
              <div class="col-2 p-0 footer-right">     <i class="fa fa-heart font-danger">               </i></div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    <%- include('../../../Layouts/Backend/Scripts.ejs') %>
    <script>
      const form = document.querySelector("form#checkOutForm")
      const phoneError=document.querySelector("span#phoneError")
      const emailError=document.querySelector("span#emailError")
      const countyError=document.querySelector("span#countyError")
      const townError=document.querySelector("span#townError")
      const addressError=document.querySelector("span#addressError")
      const postalError=document.querySelector("span#postalError")
      form.addEventListener('submit',async (e)=>{
        phoneError.textContent=""
        emailError.textContent=""
        countyError.textContent=""
        townError.textContent=""
        addressError.textContent=""
        postalError.textContent=""
        e.preventDefault()
        const phone = form.phone.value
        const email = form.email.value
        const county = form.county.value
        const town = form.town.value
        const address = form.address.value
        const postal = form.postal.value
        if(!phone){
          phoneError.textContent="The Phone Number is required"
        }
        if(!email){
          emailError.textContent="The email is required"
        }
        if(!county){
          countyError.textContent="The county is required"
          return;
        }
        if(!town){
          townError.textContent="The town is required"
          return;
        }
        if(!address){
          addressError.textContent="The address is required"
        }
        if(!postal){
          postalError.textContent="The postal Code is required"
          return;
        }
        const res = await fetch("/Save-Checkout-Details",{
          method:'POST',
          body:JSON.stringify({
            "phoneNumber":phone,
            "emailAddress":email,
            "county":county,
            "town":town,
            "residence":address,
            "postalCode":postal
          }),
          headers:{
            'Content-Type':'application/json'
          }
        })
        const dataBack = await res.json()
        form.reset()
        swal(dataBack.status, dataBack.message, dataBack.status);
        if(dataBack.status==='success'){
          setTimeout(()=>{
            //redirect the user to pay page 
            location.href = "/Pay"
          },3000)
        }
      })
    </script>
    <script>
      const getTowns = async (county)=>{
        const townSel = document.querySelector("select#towns")
        townSel.innerHTML=""
        const opt = document.createElement('option')
        opt.setAttribute('label','--Loading Data--')
        townSel.appendChild(opt)
        const res = await fetch("/Get-Towns",{
          method:'POST',
          body:JSON.stringify({
            countyName:county
          }),
          headers:{
            'Content-Type':'application/json'
          }
        })
        const dataBack = await res.json()
        if(dataBack.status==='success'){
          dataBack.message.forEach((town)=>{
            const opt = document.createElement('option')
            opt.setAttribute('value',[town.TownName,town.ShippingFee])
            let node = document.createTextNode(town.TownName)
            opt.appendChild(node)
            townSel.appendChild(opt)
          })
        }else{
          const opt = document.createElement('option')
          opt.setAttribute('label',dataBack.message)
          townSel.appendChild(opt)
        }
      }
      const getShipping = (data)=>{
        const shippingFees = data.split(",")[1]
        document.querySelector("span#ShippingFees").textContent=`KES. ${(shippingFees).toLocaleString("en")}`
        updateTotalAmount(shippingFees)
      }
      const updateTotalAmount = shippingFee =>{
        cartTotal = parseInt(document.querySelector("span#cartTotal").getAttribute("data-total"))
        document.querySelector("span#shippingTotal").textContent = `KES. ${(cartTotal + parseInt(shippingFee)).toLocaleString("en")}`
      }
    </script>
  </body>
</html>